<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 class="red">DANGER!</h1>
    <p>This message doesn't belong to you!</p>
    <p>Are you trying to hack my site??? How dare you!</p>
    <p>Your IP address {{ip_addr}} has been recorded</p>
    <p>If you try something like this again you will be logged off and have your IP address reported to the site administrator.</p>
    <a href="/dashboard">Click Here to go Back to Where You Belong</a>
</body>
</html>